* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}
.error
{
  color:red;
}
body {
  background: #f0f2f5;
 
  align-items: flex-start;
  min-height: 100vh;
}
.center
{
  display:flex;
   justify-content: center;
   align-items: center;
}
.auth-container {
  background-color: #ffffff;
  padding: 30px;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.auth-title {
  text-align: center;
  margin-bottom: 20px;
}
.auth-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
.auth-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #0056b3;
}
.auth-text {
  text-align: center;
  margin-top: 15px;
}



.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background: #fff;
  border-right: 1px solid #ccc;
  padding: 15px;
  overflow-y: auto;
}

.sidebar h2 {
  margin-top: 0;
}

.room-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: 0.2s;
}

.room-item:hover {
  background: #f5f5f5;
}

.admin-btn {
  margin-left: 5px;
  padding: 2px 5px;
  font-size: 12px;
  cursor: pointer;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-header {
  background: #075e54;
  color: #fff;
  padding: 15px;
}

.chat-body {
    flex: 1;
    padding: 15px 100px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: #e5ddd5;
}

.msg {
  margin: 5px 0;
  padding: 8px 12px;
  border-radius: 15px;
  max-width: 60%;
  word-wrap: break-word;
}

.msg.left {
  background: #fff;
  align-self: flex-start;
}

.msg.right {
  background: #dcf8c6;
  align-self: flex-end;
}

.chat-input {
  display: flex;
  padding: 10px;
  background: #fff;
  border-top: 1px solid #ccc;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.chat-input button {
  margin-left: 10px;
  padding: 10px 15px;
  background: #075e54;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
#topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background: #075e54;
  color: white;
}

#userInfo {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

#userName {
  font-weight: bold;
}

#logoutBtn {
  background: #e53935;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}
.chat-img {
  max-width: 220px;
  border-radius: 8px;
  margin-top: 5px;
}

.chat-video {
  max-width: 250px;
  margin-top: 5px;
}

