* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.error
{
  color:red;
}
body {
  background-color: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.auth-container {
  background-color: #ffffff;
  padding: 30px;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.auth-title {
  text-align: center;
  margin-bottom: 20px;
}
.auth-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
.auth-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #0056b3;
}
.auth-text {
  text-align: center;
  margin-top: 15px;
}
